@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}


html, body {
    min-height: 97vh;
    background-color: darkgray;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
}

header {
    padding-bottom: 50px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a, footer a {
    text-decoration: none;
}

header a:hover, footer a:hover {
    text-decoration: underline;
    font-weight: bolder;
}

section {
    padding-top: 10%;
    padding-bottom: 10%;
    line-height: 2em;
    padding-left: 30px;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(78, 78, 78);
    color: white;

}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.527);
    width: 400px;
    padding: 9px;
}

footer {
    background-color: black;
    padding: 10px;
    text-align: center;
    color: white;
}